[submodule "src/SoyLib"]
	path = src/SoyLib
	url = https://github.com/SoylentGraham/SoyLib.git
[submodule "src/SoyDecklink"]
	path = src/SoyDecklink
	url = https://github.com/SoylentGraham/SoyDecklink.git
[submodule "Data_Holosports"]
	path = Data_Holosports
	url = https://gitlab.com/NewChromantics/PopFragGui.git
