[submodule "src/SoyLib"]
	path = src/SoyLib
	url = https://github.com/SoylentGraham/SoyLib.git
[submodule "src/SoyDecklink"]
	path = src/SoyDecklink
	url = https://github.com/SoylentGraham/SoyDecklink.git
[submodule "UnitTest"]
	path = UnitTest
	url = https://github.com/NewChromantics/PopEngineUnitTests.git
[submodule "src/Libs/OpenVr"]
	path = src/Libs/OpenVr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "src/Libs/Opencv_contrib"]
	path = src/Libs/Opencv_contrib
	url = https://github.com/SoylentGraham/opencv_contrib.git
[submodule "src/Zip"]
	path = src/Zip
	url = https://github.com/kuba--/zip.git
[submodule "src/Json11"]
	path = src/Json11
	url = https://github.com/dropbox/json11.git
[submodule "src/PopDepthToYuv"]
	path = src/PopDepthToYuv
	url = https://github.com/SoylentGraham/PopDepthToYuv.git
[submodule "Source_Web"]
	path = Source_Web
	url = https://github.com/NewChromantics/PopEngine_Web.git
[submodule "src/sokol"]
	path = src/sokol
	url = https://github.com/SoylentGraham/sokol.git
[submodule "src/OpenXR"]
	path = src/OpenXR
	url = https://github.com/KhronosGroup/OpenXR-SDK.git