
# osx
.DS_Store

# xcode user files
*.xcuserstate
._*
xcuserdata
xcuserdata/**/*
*.xccheckout


# visual studio temp files
*.db
*.opendb
*.visualstudio/x64/
PopEngine\.visualstudio/\.vs/PopEngine/v15/ipch/
PopEngine.visualstudio/packages/
PopEngine.visualstudio/.vs/PopEngine/v15/
PopEngine.visualstudio/obj/ARM/
PopEngine.visualstudio/obj/ARM64/
PopEngine.visualstudio/bin/
PopEngine.visualstudio/AppPackages/
PopEngine.visualstudio/ARM64/


# unity
StreamingAssets/
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
iosbuild/
*.csproj
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
sysinfo.txt



# framework symbolic links are playing havoc with gitkraken
*.framework


# android build files
*.Android/obj/
*.Android/libs/

# ignore package-downloaded-files
# gr: note this is ignoring src/Libs too
.npmrc
node_modules
*.Package/package-lock.json

# osx/ios build files
PopEngine.xcframework/

# linux build dir
Build/
