#include "../src/SoyLib/SoyLib_Osx.xcconfig"


GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) TARGET_OSX_BUNDLE
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) ENABLE_OPENGL

OTHER_CFLAGS = -Wno-ambiguous-macro

//	including PopH264 framework is including SoyLib/src/xyz.h
SOYLIB_PATH = $(SRCROOT)/src/
OPENCV_PATH = $(SRCROOT)/src/Libs/Opencv
OPENCV_CONTRIB_PATH = $(SRCROOT)/src/Libs/Opencv_contrib/modules/
MAGIC_LEAP_PATH = "/Volumes/Code/MagicLeap/mlsdk/v0.21.0/"
MODULES_PATH = $(PROJECT_DIR)/PopEngine.Package/node_modules/@newchromantics
OPENVR_PATH = $(PROJECT_DIR)/src/Libs/OpenVr/bin/osx64
LEAPMOTION_LIB_PATH = $(PROJECT_DIR)/src/Libs/LeapMotion/Leapv2
OPENVR_LIB_PATH = $(PROJECT_DIR)/src/Libs/OpenVr/lib/osx32
DYN_LIB_PATH = $(PROJECT_DIR)/src/Libs/dyncall/lib
//	for some reason osx build just didnt want to find this automatically...
POPCAMERADEVICE_INCLUDE_PATH = $(MODULES_PATH)/popcameradevice/PopCameraDevice_Osx.framework/Headers/
GLFW_PATH = /usr/local/Cellar/glfw/3.3.2

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(SOYLIB_PATH) $(OPENCV_PATH)/include $(OPENCV_CONTRIB_PATH) $(MAGIC_LEAP_PATH)/include $(MODULES_PATH)/** $(POPCAMERADEVICE_INCLUDE_PATH)
FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS) $(MODULES_PATH)/** $(OPENVR_PATH)
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited) $(LEAPMOTION_LIB_PATH) $(OPENVR_LIB_PATH) $(DYN_LIB_PATH)



VERSIONING_SYSTEM = apple-generic


//	10.13 for coreml
MACOSX_DEPLOYMENT_TARGET = 10.13
