INFOPLIST_FILE = $(SRCROOT)/Info.plist

GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) TARGET_OSX_BUNDLE
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) ENABLE_OPENGL

OTHER_CFLAGS = -Wno-ambiguous-macro

//	including PopH264 framework is including SoyLib/src/xyz.h
SOYLIB_PATH = $(SRCROOT)/src/

//	todo: remove dlib! make it an external dll we can just call
DLIB_PATH = /usr/local/Cellar/dlib/19.15

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(SOYLIB_PATH) $(DLIB_PATH)/include
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited) $(DLIB_PATH)/lib


//	10.13 for coreml
MACOSX_DEPLOYMENT_TARGET = 10.13
